<div id="articleView" ng-controller="featureCtrl">
<h2>ARTICLE Details</h2>
	<div class="subtitle">SPACE.com</div>
	<hr>
	<div class="detailContainer" >
		<table id="detailTable">
			<tr>
				<td rowspan="6"><img ng-src="{{features[itemIndex].visualUrl}}" class="img-rounded"  width="30%" height="30%"></td>
				<td class="dd">Subscribers</td>
				<td class="dd">{{features[itemIndex].Subscribers}}</td>
			</tr>
			<tr><td>Last Update</td>
				<td>{{features[itemIndex].lastUpdated}}</td>
			</tr>
			<tr><td>Web Site</td>
				<td>{{features[itemIndex].website}}</td>
			</tr>
			<tr><td>Twitter Followers</td>
				<td>{{features[itemIndex].twitterFollowers}}</td>
			</tr>
			<tr><td>Facebook Likes</td>
				<td>{{features[itemIndex].facebookLikes}}</td>
			</tr>
			<tr><td>Score</td>
				<td>{{features[itemIndex].score}}</td>
			</tr>
		</table>
	</div>
	<div class="detailContainer detailImg" >
		<div><img ng-src="{{features[itemIndex].coverUrl}}" class="img-rounded" ></div>
	</div>
		<ul class="detailBtn">
			<li>
				<img ng-click="go('/articles')" src="images/return.jpg" class="img-rounded" ></li>
			<li><img ng-hide="itemIndex==0" ng-click="detailGo('last')" src="images/last.jpg" class="img-rounded" ></li>
			<li><img ng-hide="itemIndex == features.length-1" ng-click="detailGo('next')" src="images/next.jpg" class="img-rounded" ></li>
		</ul>
	
</div>