<div class="loginPart" ng-controller="validateCtrl">
	<div><img src="images/sample.png" class="img-rounded" ></div>
	<form class="css-form" name="myForm" novalidate>
		
		<div class="formField" id="emField">
			<input type="email" name="email" placeholder="your email" ng-model="email" required>
			
		</div>
		<div class="formField" id="pwField">
			<input type="password" name="password" placeholder="password" ng-model="password" required>
			
		</div>
		<div  class="fieldSub">
			<button type="button" class="btn btn-info btn-lg btn-submit"  ng-click="login()" ng-disabled="!validationEmail() && password!=1234" >Submit</button>
		</div>

	</form>
</div>