<div class="loginPart">
	<div><img src="images/sample.png" class="img-rounded" ></div>
	<form ng-controller="validateCtrl" name="myForm" novalidate>
		
		<div class="formField" id="emField">
			<input type="email" name="email" placeholder="your email" ng-model="email" ng-class="{'fail': !validationEmail(email),'pass': validationEmail(email)}" required>
				
		</div>
		<div class="formField" id="pwField">
			<input type="password" name="password" placeholder="password" ng-model="password" ng-class="{'fail':password.length<4, 'pass':password.length>=4}" required>
				
		</div>
		<div class="formField" id="pwField2">
			<input type="password" name="password2" placeholder="retype password" ng-model="password2" ng-class="{'fail':password != password2, 'pass':password==password2}" required>
		</div>
		<div  class="fieldSub">
			<button type="button" class="btn btn-info btn-lg btn-submit" ng-click="login()" ng-disabled="!validationEmail() && password.length<4 && password!= password2" >Submit</button>
		</div>

	</form>
</div>

