<div class="loginPart">
	<div><img src="images/sample.png" class="img-rounded" ></div>
	<form ng-controller="validateCtrl" class="css-form" name="myForm" novalidate>
		
		<div class="formField" id="oldpwField">
			<input type="password" name="password" placeholder="Enter current password" ng-model="password" required>
			
		</div>
		<div class="formField" id="newpwField">
			<input type="password" name="newPW" placeholder="New password" ng-model="newPW" required>
				
		</div>
		<div class="formField" id="newpwField2">
			<input type="password" name="newPW2" placeholder="Retype password" ng-model="newPW2"  required>
		</div>
		<div  class="fieldSub">
			<button type="button" class="btn btn-info btn-lg btn-submit" ng-disabled="password!=myPassword && newPW.length<4 && newPW != newPW2"  data-toggle="modal" data-target="#resetPW" >Submit</button>
		</div>

	</form>
</div>

<div class="modal fade" id="resetPW" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reset Password</h4>
        </div>
        <div class="modal-body contact">
          <p>Password renewed. </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>