<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Home View</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style/style.css" />
      <script src="script/angular.min.js"></script>
      <script src="script/angular-route.js"></script>
      <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js" type="text/javascript"></script>
      <script src="script/script.js"></script>
      <script type="text/javascript">
	$(document).ready(function(){
	//Show/Hide menu on mobile
	$('.icon').click(function(){
		$('header nav').toggleClass('show');
		$('header .icon').toggleClass('active');
	});
});
      </script>
</head>
<body ng-controller="mainCtrl">
	<header>
		<div class="logo">
			<img src="images/Sample_sm.png" class="img-rounded" ng-click="go('/')" >
		</div>
			<nav>				
				<ul>								
					<li ng-repeat="tag in navTags | filter:tag.loggedIn=logged" class="{{tag.routeTag}}" ><a ng-href="#/{{tag.routeTag}}">{{tag.face}}</a></li>
					<li ng-if="logged" class="logout" ><a data-toggle="modal" data-target="#logout">Logout</a></li>
				</ul>
			</nav>
			<div class="icon">
					<img src="images/listIcon.png">
			</div>	
	</header>

	<div class="main" ng-view >
		
	</div>

	<footer>
		<nav class="navbar navbar-fixed-bottom">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#confirm">Confirm</button>
				</li>
				<li>
					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#help">Help</button>
				</li>
				<li>
					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#contact">Contact Info</button>
				</li>
			</ul>
		</nav>
	</footer>


<!-- Modal -->
<!-- logout modal -->
  <div class="modal fade" id="logout" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Logout</h4>
        </div>
        <div class="modal-body logoutModal">
          <p>This is a sample panel.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="logout()">OK</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>


<!-- confirm modal -->
  <div class="modal fade" id="confirm" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body confirm">
          <p>This is the sample confirmation popup with two buttons.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

<!-- help modal -->
  <div class="modal fade" id="help" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Help</h4>
        </div>
        <div class="modal-body contact">
          <p>This is a sample panel.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- conatact modal -->
  <div class="modal fade" id="contact" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Contact Info</h4>
        </div>
        <div class="modal-body contact">
          <p>This is the sample popup with one buttons.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>

</body>
</html>